{% block subject %}
    Ah que coucou {{ name }}
{% endblock subject %}

{% block text %}
    Ah que coucou {{ name }}


    Aujourd'hui nous allons voir :

    - Service
    - Mailer Symfony
    - Twig

{% endblock text %}

{% block content %}
    <h1>
        Ah que coucou {{ name }}
    </h1>

    <div>
        Aujourd'hui nous allons voir :

        <ul>
            <li>
                Service
            </li>
            <li>
                Mailer Symfony
            </li>
            <li>
                Twig
            </li>
        </ul>
    </div>
{% endblock content %}
