
body {
    background-color: whitesmoke;
}

body > .container {
    background-color: antiquewhite;
}

body > .header {
    background-color: #FF00FF;
}

body > .footer {
    background-color: #00FFFF;
}




