{% extends 'base.html.twig' %}

{% block title %}Contactez coucou{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Contactez coucou</h1>
            </div>
        </div>
    </div>
{% endblock %}
