<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}
    </head>
    <body>
        <div class="header text-center p-2">
            {% include 'commons/header.html.twig' %}
        </div>


        {% block body %}
            Je suis bien sur la page principale de mon application
        {% endblock %}


        <div class="footer text-center p-2">
            {% include 'commons/footer.html.twig' %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('scripts') }}
        {% endblock %}
    </body>
</html>
